*{
    margin: 0;
    padding: 0;
}
.paiMing li{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px; 
}
.getName{
    font-size: 28px;
    color: #666;
}
.getLength{
    font-size:40px;
    color: #052fff;
    margin-top: 16px;
    font-weight: 600;
}