.paiMing{
    .goldItem{
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        .goldIcon{
            width: 120px;
            height: 100px;
        }
        .getName{
            font-size: 28px;
            color: #666;
        }
        .getLength{
            font-size:40px;
            color: #052fff;
            margin-top: 16px;
            font-weight: 600;
        }
    }

}
.btnStyle{
    border-radius: 10px;
    margin-left: 20px;
    border: none;
    // width: 160px;

    padding: 10px 20px;
}
.btnLeft{
    margin-left: 70px;

}
