.checkListWrap{
  margin-bottom: 20px;
  .checkTitle{
    .sportTips{
      font-size: 28px;
      color: #666;
      margin-left: 130px;
      margin-right: 90px;
    }
    .checkUser{
      font-size: 30px;
    }
    .sportStatus{
      font-size: 28px;
    }
  }
  .checkInnerWrap{
    font-size: 30px;
    display: flex;
    .checkLeft{
      .checkTime{
        margin-bottom: 20px;
      }
    }
    .checkRight{
      margin-left: 60px;
      .checkDuring{
        margin-bottom: 20px;
      }
    }
  }
}
.activeWrap{
  background: #fff;
  position: fixed;
  bottom: 0;
  height: 80px;
  width: 100%;
  padding: 10px 0;
  .activeGroup{
    position: absolute;
    top: 25px;
    right: 20px;
    .query{
      background: rgb(208, 194, 23);
    }
  }
}
.my-list{
  .noData{
    font-size: 30px;
    color: #999999;
    line-height: 80px;
  }
  .am-list-body{
    &:after{
      height: 0!important;
    }
  }
}
.checkInnerWrap{
  .am-pull-to-refresh-content-wrapper{
    overflow: visible;
  }
}
.ckActiveBox{

  width: 60px;
  height: 60px;
  position: fixed;
  left: 600px;
  top: 800px;
  border-radius: 50%;
  padding: 5px;
  box-shadow:1px 0px 24px 1px rgba(0, 184, 255, 0.62);
  background: rgb(0, 184, 255);
  z-index: 999;
  span{
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 35px;
    color: #fff;
    text-align: center;
    line-height: 46px;
  }

}
